body {font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

header,footer {
    background-color: antiquewhite;
}

.site-title {
    color: aqua;
}

.my-image {
    box-shadow: 0 0 2px 1px black;
}

h3~ul {
    list-style-type: square;
}

h3~ul>li:nth-child(odd) {
    background-color: antiquewhite;
}

nav ul{
    list-style: none;
}

nav ul a{
    text-decoration: none; 
    background-color: grey;
    border: 1px solid black;
}

nav ul a:focus {
    background-color: red;
}